@import '../../node_modules/dio-intint/dist/styles.css';

:root {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 12px;
    }
}

/* Playable Ad */
html, body {
    height: 100%;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes waiting {
    0% {
        transform: rotate(-45deg);
    }
    87% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}
@keyframes hit {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5) rotate(-45deg);
    }
    65% {
        transform: scale(1.5) rotate(45deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
@keyframes cta {
    0% {
        transform: scale(.85) rotate(0deg);
    }
    25% {
        transform: scale(1.15) rotate(10deg);
    }
    50% {
        transform: scale(.85) rotate(0deg);
    }
    75% {
        transform: scale(1.15) rotate(-10deg);
    }
    100% {
        transform: scale(.85) rotate(0deg);
    }
}
.hidden {
    display: none;
}
/*.screen:before {*/
/*content: ' ';*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*bottom:0 ;*/
/*z-index: -1;*/
/*opacity: 0.05;*/
/**/
/*background-size: contain;*/
/*}*/
.cta {
    position: absolute;
    top: 50%;
    padding: 0 10%;
    width: 100%;
    text-align: center;
    font-size: 1.5625em;
    animation: cta 2s ease-in-out infinite;
    box-sizing: border-box;
}
.hand {
    position: absolute;
    width: 7.03125em;
    height: 5em;
    bottom: 3.125em;
    left: 50%;
    margin-left: -3.5em;
}
.hand.original {
    transform-origin: 0 70%;
    background: url('var(--URL)/hand.png');
    background-size: 100%;
}
.hand.inverted {
    transform-origin: 100% 70%;
    background: url('var(--URL)/hand_inverted.png');
    background-size: contain;
}
.hand.original-empty {
    height: 4.25em;
    transform-origin: 0 70%;
    background: url('var(--URL)/hand_empty.png');
    background-size: 100%;
}
.hand.inverted-empty {
    height: 4.25em;
    transform-origin: 100% 70%;
    background: url('var(--URL)/hand_empty_inverted.png');
    background-size: 100%;
}

.hand.waiting {
    animation: waiting 1.5s infinite;
}
.screen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('var(--URL)/back.jpeg') no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
.basket {
    width: 5.625em;
    height: 7.3125em;
    position: absolute;
    top: 3.125em;
    animation: sliding 3s forwards infinite linear;
    transition: opacity .5s linear;
}
.basket.hit {
    opacity: 0;
}
.card {
    width: 3.75em;
    height: 3.90625em;
    position: absolute;
    /*animation: rotation 1s linear infinite forwards;*/
    background: url('var(--URL)/card.png') no-repeat;
    background-size: contain;
}
.card.placeholder {
    opacity: 0.3;
}
.score {
    padding: 0.625em;
    font-family: sans-serif;
}
/*.close-btn {*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 10px;*/
    /*z-index: 100;*/
    /*border: 1px solid #fff;*/
    /*border-radius: 50%;*/
    /*width: 1.875em;*/
    /*height: 1.875em;*/
    /*line-height: 1.875em;*/
    /*font-size: 1.25em;*/
    /*color: #fff;*/
    /*cursor: pointer;*/
    /*text-align: center;*/
/*}*/

.win-screen {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    display: flex;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}
.win-screen.show {
    overflow: auto;
    height: auto;
    width: auto;
    visibility: visible;
    opacity: 1;
    transition: opacity .3s linear;
}

.win-animation {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    font-size: 4.375em;
    text-transform: uppercase;
    z-index: 100;
    padding: 0.714285714285714em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity .3s;
}

.win-animation.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

@keyframes win-animation-appearance {
    0% {
        transform: translate(-50%) scale(1);
    }
    50% {
        transform: translate(-50%) scale(1.5);
    }
    100% {
        transform: translate(-50%) scale(1);
    }
}

.win-animation.appearance {
    width: auto;
    height: auto;
    overflow: auto;
    visibility: visible;
    opacity: 1;
    animation: win-animation-appearance 1s;
}

.confetti {
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    animation: confetti-frames;
}

.confetti.big {
    width: 0.357142857142857em;
    height: 0.357142857142857em;
}

.confetti.med {
    width: 0.285714285714286em;
    height: 0.285714285714286em;
}

.confetti.small {
    width: 0.214285714285714em;
    height: 0.214285714285714em;
}

.confetti.red {
    background: #fe0a00;
}

.confetti.orange {
    background: #ff9a01;
}

.confetti.blue {
    background: #00a2fc;
}

.confetti.lime {
    background: #d2f42c;
}

/* TODO: Make hidden class for transition elements */
.skip-game.hidden {
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
}

.skip-game.visible {
    width: auto;
    height: auto;
    visibility: visible;
    overflow: auto;
    opacity: 1;
}

.skip-game {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 1.25em;
    color: #fff;
    text-decoration: underline;
    padding: 1.25em;
    transition: opacity .3s;
}

.skip-game:active {
    box-shadow: none;
}

.preload {
    display: none;
}
