<div class="screen">
    <div class="win-screen">
        <div class="close-btn">&times;</div>
        <div class="dio-intint">
            <%= require ('dio-intint/dist/main.html') %>
        </div>
    </div>
    <!--<h2 class="score">Hits: <span class="score-result">0</span>/5</h2>-->
    <div class="win-animation hidden">Bravo!</div>
    <div class="basket"></div>
    <div class="cta">Hit the apple to the basket</div>
    <div class="hand original waiting"></div>
</div>
