<div class="screen">
    <div class="win-screen">
        <!--<div class="close-btn">&times;</div>-->
        <%= require ('dio-intint/dist/main.html') %>
    </div>
    <!--<h2 class="score">Hits: <span class="score-result">0</span>/5</h2>-->
    <div data-erasable="true" class="win-animation hidden">Bravo!</div>
    <div data-erasable="true" class="basket">
        <img
                width="100%"
                height="100%"
                src="[[[CDN_DOMAIN]]]/ctv/asset/playableAd/hat.png"
                alt="">
    </div>
    <div data-erasable="true" class="cta">Hit the apple to the basket</div>
    <div data-erasable="true" class="hand original waiting"></div>
    <div data-erasable="true" class="skip-game hidden">Skip Game</div>
    <img class="preload" src="[[[CDN_DOMAIN]]]/ctv/asset/playableAd/hand_inverted.png" alt="">
    <img class="preload" src="[[[CDN_DOMAIN]]]/ctv/asset/playableAd/hand_empty_inverted.png" alt="">
</div>
